<section>
    <div class=" text-center text-white ">
                <div class=" s-foo d-flex pt-5 pb-5 ">
                <div class="col-4 pt-5 pb-5">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="col-4 pt-5 pb-5">
                    <h3>AROUND THE WEB</h3>
                    <div class="social ps-5 ms-5">
                        <ul class="ps-1 d-flex  ">
                            <li>
                                <a href="#">
                                    <div class="ps-5" >
                                        <i class="fa-brands fa-facebook text-white  border border-2 border-white "></i>
                                    </div>
                                </a>
                            </li>
                        
                            <li>
                                <a href="#">
                                    <div class="ps-2" ><i class="fa-brands fa-twitter text-white  border border-2 border-white"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ps-2"><i class="fa-brands fa-linkedin text-white  border border-2 border-white"></i></div>
    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="ps-2"><i class="fa-solid fa-globe text-white  border border-2 border-white"></i></div>
                            
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 pt-5 pb-5">
                    <h3>ABOUT</h3>
                    <p class=" fw-light w-75 ms-5 ps-4">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
                </div>
                <div class="e-foo pt-4 pb-4">
                Copyright © Your Website 2021
                </div>
    </div>
    </section>
    